{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/blog.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'home' %}"></a></span> <span></span></p>
            <h1 class="mb-0 bread">{{categories.name}}</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section ftco-degree-bg">
      <div class="container">
        <div class="row">
          <div class="col-8 ftco-animate">
						<h2 class="mb-3">{{ tutorial.name }}</h2>
            {{ tutorial.details|safe }}
            <div class="tag-widget post-tag-container mb-5 mt-5">
              <div class="tagcloud">
                
              </div>
            </div>

            
          </div> <!-- .col-md-8 -->
          {% include 'tutorial/sidebar.html' %}
        </div>
      </div>
    </section> <!-- .section -->
{% endblock %}
